* {
  border: 1px solid red;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
  color: #4d4e53;
  font-size: 0.96em;
}

h1 {
  font-weight: lighter;
  color: black;
  font-size: 1.8em;
}

#container {
  display: flex;
  position: relative;
}

#navbar {
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
}

.headie {
  height: 4.25rem;
  min-width: 17.6875rem;
  display: grid;
  position: fixed;
  align-items: center;
}
.headie > h1 {
  display: flex;
  padding-left: 2.3125rem;
  align-items: center;
}

.overflowy {
  min-width: 17.6875rem;
  max-height: 100%;
  display: grid;
  grid-template-rows: repeat(14, 2.75rem);
  position: fixed;
  overflow-y: scroll;
  margin-top: 4.24rem;
}

.overflowy > a {
  border-top: 1px solid black;
  align-content: center;
  line-height: 2.75rem;
  padding-left: 2.3125rem;
}

.nav-link {
  text-decoration: none;
  color: #4d4e53;
  font-size: 0.96em;
}

#main-doc {
  height: 100%;
  margin-left: 17.5rem;
  border-left: 1px solid black;
  padding: 1.9375rem 1.25rem 2.5rem 2.375rem;
}

.main-section > div {
  background: #f7f7f7;
  line-height: 2;
  padding: 0.9375rem;
  margin-bottom: 0.9375rem;
  margin-left: 1.5625rem;
}
.main-section > h1,
p,
ul > li {
  margin-bottom: 0.9375rem;
}
.main-section > p {
  margin-left: 0.9375rem;
}

ul {
  padding-left: 4.75rem;
}
.disc-bullet {
  padding-left: 3.6875rem;
}

code {
  display: block;
}
